{% extends 'index.html' %}  {#копия из другого файла#}

{% block content %}
    <h2>Режиссеры</h2>
    <ul>{% for director in director_list %}
        <li>
        <a href="{{ director.get_absolute_url }}">{{ director.fname }} {{ director.lname }}</a>
        <p>{{ director.country }}</p>
        </li>
    {% endfor %}
    </ul>

{% if is_paginated %} {# готовый код из джанго, для вывода объектов на страницу по заданному колличеству, количество задаётся в views.py в методе основанного на классе #}

    <div class="pagination">
    <span class="step-links">
            {% if page_obj.has_previous %}
{#    <a href="?page=1">&laquo; first</a>#}
    <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
    </span>
            {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Следущая</a>
{#    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
            {% endif %}
    </span>
</div>

{% endif %}
{% endblock content %}