{% extends 'index.html' %}
{% block content %}
    <h2>Режиссер {{ director.fname }} {{ director.lname }}.</h2>
    <hr>
    <h2>Фильм/ы который снимал:</h2>
    {% for kino in director.kino_set.all %}
        <p>{{ kino.title }}</p>
    {% endfor %}

{#    <h2>Рейтинг {{ kino.ager }}.</h2>#}
{#    <h2>Уровень подписки {{ kino.status }}.</h2>#}
{#    <h2>Актеры</h2>#}
{#    {% for actor in kino.actor.all %}#}
{#        {% if not forloop.last %}#}
{#        <h2 style="color: dodgerblue">{{ actor.fname }} {{ actor.lname }},</h2>#}
{#            {% else %}#}
{#            <h2 style="color: dodgerblue">{{ actor.fname }} {{ actor.lname }}.</h2>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{% endblock %}